{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"><h1>A Test has been generated!</h1></div>
    
    <div class="ms-auto p-2 bd-highlight">
        <img style = "border-radius:15px; width:100px; height:100px;" src="{% if user.userprofile.avatar %}{{ user.userprofile.avatar.url }}{% else %}{% static 'placeholder.png' %}{% endif %}" 
        alt="Avatar" class="avatar-img">
    </div>
</div>
    <div class="text-center me-3">
        <img src="{% static 'm1.jpg' %}" alt="" class="meme-img">

    </div>
    
    <h2>Insert instructions list here</h2>

    <hr>
    <hr>

    <center><form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg">Start Test!</button>
    </form></center>

{% endblock content %}