{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
    </head>
    <body>
        
    <div class="m-3">
            
            
            <!-- Flex container for buttons -->
            <div class="d-flex justify-content-between align-items-center px-3">
                <!-- Left circular home button -->
                <a href="{% url 'home' %}" class="btn btn-info p-0 rounded-circle avatar-container">
                    <img src="{% static 'placeholder.png' %}" alt="" class="avatar-img">
                </a>
                
                <h1><a href="{% url 'home' %}" class="text-dark text-decoration-none">BEANSTALK</a></h1>
                <!-- Right dropdown button (authenticated) -->
                {% if user.is_authenticated %}
                
                <!-- <h6 class="text-end-right me-3">Welcome {{ user.username }}</h6> -->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary p-0 rounded-circle avatar-container" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Action button icon or image -->
                        <img src="{% if user.userprofile.avatar %}{{ user.userprofile.avatar.url }}{% else %}{% static 'placeholder.png' %}{% endif %}" 
                        alt="Avatar" class="avatar-img">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'profile_settings' %}">Profile Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                
                <!-- <h6 class="text-end-right me-3">Please Login</h6> -->
                <!-- Right dropdown button (not authenticated) -->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary p-0 rounded-circle avatar-container" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'placeholder.png' %}" alt="" class="avatar-img">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <div class="dropdown-divider"></div>
                        
                    </div>
                </div>
                {% endif %}
            </div>
    </div>
    
    <!-- Start Test button -->
    <div class="m-auto">
        <div>
            {% if user.is_authenticated %}    
            <h6 class="text-center">Welcome {{ user.username }}</h6>
            {% else %}
            <h6 class="text-center">Please Login</h6>
            {% endif %}
        </div>
        
        <h2 class="text-center">
            <a href="{% if user.is_authenticated %}{% url 'arena' %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-success btn-lg">Start Test</a>
        </h2>
    </div>
        
        <!-- Table of attempts -->
        <table class="table">
            {% for d in usratmpts %}
            <tr>
                <td>{{ d.qpID_id }}</td>
                <td>{{ d.attempts }}</td>
                <td>{{ d.time_taken }}</td>
                <td>{{ d.answer }}</td>
                <td>{{ d.marked_for_review }}</td>
            </tr>
            {% endfor %}
        </table>
    
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
