<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th><a href ={% url 'home' %}>Home</a></th>
                <th><a href ={% url 'dashboard' %}>Dashboard</a></th>
                <th><a href ={% url 'mcq' %}>Test</a></th>
                <th><a href ={% url 'about_us' %}>About_us</a></th>
            </tr>
        </table>
    </div>
    about us
</body>
</html>